.navbar {
    margin-top: 0;
    padding: 2%;
}

body,
html {
    max-width: 100%;
    overflow-x: hidden;
}

hr {
    background-color: #fff;
    outline-style: double;
}

body {
    background-position: center;
    background-attachment: fixed;
    overflow-x: none;
    background-repeat: no-repeat;
    background-image: url("images/body10.jpg");
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

.div1 {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 2%;
    margin-left: 3%;
    margin-right: 2%;
}

.gardening {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.recycling {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2%;
    margin-left: 2%;
}

.div2 {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 2%;
    margin-right: 2%;
}

.pDiv {
    background-color: rgba(0, 0, 0, 0);
}

.logo {
    font-family: "Kaushan Script", cursive;
    font-size: 40px;
    color: ff0080;
}

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 2%;
    padding-top: 6%;
    padding-bottom: 6%;
}

.footerContact {
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 2%;
}

.logoImg {
    height: 65px;
    width: 350px;
}

.inputSubscribe {
    width: 75%;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .header {
        height: 350px;
    }
    #search {
        width: 240px;
    }
    .logoImg {
        height: 85px;
        width: 350px;
    }
}

.outer {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    height: 100%;
    background: rgba(252, 248, 248, 0.8);
    border-radius: 4%;
}

header {
    margin: 0;
    padding: 0;
    background-size: cover;
    background: url("images/header11.jpg");
    background-position: center;
    overflow-x: none;
    background-repeat: no-repeat;
    background-size: cover;
    height: 94vh;
    width: 100%;
    text-align: left;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}