.navbar {
    margin-top: 0;
    padding: 2%;
}

body,
html {
    max-width: 100%;
    overflow-x: hidden;
}

hr {
    background-color: #fff;
    outline-style: double;
}

body {
    background-position: center;
    background-attachment: fixed;
    overflow-x: none;
    background-repeat: no-repeat;
    background-image: url("images/bgbody1.jpg");
    background-size: cover;
    font-family: "Playfair Display", serif;
}

h3 {
    font-family: "Playfair Display", serif;
}

.div1 {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.gardening {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.recycling {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.div2 {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 2%;
    margin-right: 2%;
}

.pDiv {
    background-color: rgba(0, 0, 0, 0);
}

.logo {
    font-family: "Kaushan Script", cursive;
    font-size: 40px;
    color: ff0080;
}

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: "Dancing Script", cursive, large;
    font-size: 25px;
    padding: 2%;
}

.logoImg {
    height: 100px;
    width: 500px;
}

.inputSubscribe {
    width: 75%;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .header {
        height: 350px;
    }
    #search {
        width: 240px;
    }
    .logoImg {
        height: 85px;
        width: 350px;
    }
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

header {
    margin: 0;
    padding: 0;
    background-size: cover;
    background: url(images/bg.jpg);
    background-position: center;
    overflow-x: none;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 100%;
    text-align: center;
}